<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.commontime.cordova.media-properties"
        version="1.2.5">

  <name>MediaProperties</name>

  <dependency id="cordova-plugin-file"/>

  <js-module src="www/media-properties.js" name="MediaProperties">
    <clobbers target="plugins.mediaproperties" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="MediaProperties">
        <param name="android-package" value="com.commontime.plugin.MediaProperties"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <source-file src="src/android/MediaProperties.java" target-dir="src/com/commontime/plugin/"/>
  </platform>

  <platform name="wp8">
    <config-file target="config.xml" parent="/*">
      <feature name="MediaProperties">
        <param name="wp-package" value="MediaPropertiesPlugin" />
      </feature>
    </config-file>

    <source-file src="src/wp8/MediaPropertiesPlugin.cs"/>
    <framework src="src/wp8/Newtonsoft.Json.dll" custom="true" />
  </platform>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="MediaProperties">
        <param name="onload" value="true" />
        <param name="ios-package" value="CTMediaPropertiesPlugin"/>
      </feature>
    </config-file>

    <header-file src="src/ios/CTMediaPropertiesPlugin.h"/>
    <source-file src="src/ios/CTMediaPropertiesPlugin.m"/>

    <framework src="AVFoundation.framework"/>
  </platform>

</plugin>
